
@model Entities.Student?
@{
    ViewData["Title"] = "Frame Forge";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Level_3</title>
    <link rel="stylesheet" href="~/CG_level2/bezier_curve.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<div class="task">
    <div class="taskCard">
        <p id="smallTitle"><strong>Фрактали</strong></p>
        <p> Що таке фрактал?
            Фрактали — це геометричні об'єкти, які мають самоподібність, тобто їхня структура повторюється на різних рівнях масштабування. 
            Вони часто характеризуються дробовою розмірністю (нецілочисельною) і можуть бути згенеровані ітераційними процесами, такими як множина Мандельброта чи крива Коха. 
            Фрактали широко застосовуються в математиці, комп'ютерній графіці та моделюванні природних явищ (наприклад, узбережжя, хмари, рослини).
            <br>
            Фрактали — це як магічні малюнки, які виглядають однаково, якщо їх розглядати дуже близько чи здалеку!
            Уяви, що ти малюєш сніжинку: якщо подивитися на її маленьку частину, вона схожа на всю сніжинку.
            <br>
              
            <img src="~/images/level3/fractal.jpg" class="bezier_curve_image">
            <br><br>
               
        </p>
        <p>Для більш детальної інформації натисни <a href="https://vns.lpnu.ua/pluginfile.php?file=%2F5231432%2Fmod_resource%2Fcontent%2F1%2FЗавдання%20лаб3.pdf">сюди</a></p>
        <p>Випробуй себе сам - <a href="../Views/ProgressMap/CG_Level2_tryBezierCurve.cshtml">спробувати</a></p>

    </div>
    <div class="taskCard">
            

        <form method="get" asp-controller="Tests" asp-action="StartTesting">
            <input type="hidden" name="title" value="CG_Level3">
            <button type="submit">Start Testing</button>
        </form>
            
    </div>
</div>




        

</body>
</html>