
@model Entities.Student?
@{
    ViewData["Title"] = "Frame Forge";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="CG_level2/bezier_curve.css">
</head>
<body>

<div class="task">
    <div class="taskCard">
        <p id="smallTitle">Крива Безьє</p>
        <p> Що таке крива Безьє?
            Це така плавна лінія, яку комп’ютер малює, слідуючи за певними точками. Її дуже часто використовують, коли малюють красиві лінії в мультиках, іграх або навіть в шрифтах!
            <br>
            Уяви, що ти тримаєш у руці ниточку,а кожна точка - це вбитий цвяшок через який проходить ниточка, перша точка це початок, а останя це кінець, і огинаючи кожен цвяшок ниточка утворює дуги, які можна натягувати або вигинати в різні боки — от криві Безьє працюють схоже 😊
            <br>
            Приклад:
            <br>
            Пряма Безьє (лінія з двома точками) — просто рівна лінія.
            <br>
            Проста крива Безьє (3 точки) — вигнута, мов дуга.
            <br>
            Складніша (4 точки) — ще гнучкіша і більш артистична!</p>
        <p>Для більш детальної інформації натисни <a href="https://vns.lpnu.ua/pluginfile.php?file=%2F5226153%2Fmod_resource%2Fcontent%2F2%2FЛабораторна%202.pdf">сюди</a></p>
    </div>

</div>

<div class="tests">
    <div class="taskCard">
        <p id="smallTitle">Тести</p>

    </div>
</div>
</body>
</html>