<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post" asp-controller="ProgressMap" asp-action="CompleteLevel">
        @Html.AntiForgeryToken()


        <input type="hidden" name="LevelName" value="@ViewBag.LevelName" />


        <button type="submit">Complete Level</button>
    </form>

</div>
</body>
</html>