<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>

    @* <input type="hidden" name="LevelName" value="@ViewBag.LevelName" /> *@
    <div class="taskCard">

        <form method="get" asp-controller="Tests" asp-action="StartTesting">
            <input type="hidden" name="title" value="CG_Level4">
            <button type="submit">Start Testing</button>
        </form>


    </div>
    
</body>
</html>