@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Introduction">Level 1</a>
    <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level2">Level 2</a>
    <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level3">Level 3</a>
    <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level4">Level 4</a>
    <a asp-controller="ProgressMap" asp-action="ViewLevel" asp-route-levelName="CG_Level5">Level 5</a>
</div>
</body>
</html>