*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(45deg, #318ced, #ed31ab);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Стилі для хедера */
.header {
    background: linear-gradient(45deg, #318ced, #ed31ab);
    font-size: 10px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    transition: .5s;
}

.header:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.leftText {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

/*Стилі для кнопок реєстрації*/
.LoginRegButtons {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}

    .LoginRegButtons:hover {
        background: linear-gradient(135deg, #5a7be0, #9b66dc);
        transform: scale(1.05);
    }

/* Ліве навігаційне меню */
.leftContent {
    width: 20vw;
    background: #eeefff;
    padding: 20px;
    height: 70vh;
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    transition: .5s;
}

.leftContent:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.leftContent ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.leftContent ul li {
    margin-bottom: 10px;
    padding: 10px;
    background: transparent;
    border-bottom: 2px solid lightskyblue;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}

/*Стилі для кнопок навігації*/
.navButtons a {
    text-decoration: none;
    color: black;
}

/* Стилі для контейнера зі завданнями */
.container {
    display: flex;
    position: relative;
    width: 100%;
}

.task {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bodyOfTask {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    color: white;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.taskCard {
    position: relative;
    background: #eeefff;
    border: none;
    border-radius: 10px;
    width: calc(33.33% - 13.33px);
    padding: 15px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.taskCard:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.taskHeader {
    position: relative;
    background: linear-gradient(45deg, #318ced, #ed31ab);
    padding: 10px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

h2 {
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

h3{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.buttonTask{
    background: linear-gradient(45deg, #318ced, #ed31ab);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: .5s;
    /*box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);*/
}

.buttonTask:hover{
    /* background: linear-gradient(45deg, #ed31ab, #318ced);
    */ background: #f7e018;
}

p {
    margin: 2px 0;
    font-size: 14px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Стилі для іконок профілю */
.accountIcon {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.rightText {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 50px;
    transition: .5s;
}

.user-profile:hover {
    background: rgba(255, 255, 255, 0.75);
}


/* Стилі для мітки рівня складності */
.lvlMode {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(15deg);
    transform-origin: top left;
    z-index: 1;
}

.lvlMode.easy {
    background-color: green; /* Зелений для Легкого */
}

.lvlMode.medium {
    background-color: orange; /* Оранжевий для середнього*/
}

.lvlMode.hard {
    background-color: red; /*Червоний для складного*/
}
