
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @* <a asp-controller="Battle" asp-action="StartBattle" >Start</a>\ *@
    <form method="post" asp-action="StartBattle" asp-controller="Battle">
        <input type="submit" value="Start" />
    </form>
</div>
</body>
</html>