@using Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@* @model Entities.Exercise *@

@{
    Layout = "_Layout";
    var groups = (List<Group>)ViewBag.Groups;
    var exercise = ViewBag.Exercise as Exercise ?? new Exercise();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Exercise</title>
    <link rel="stylesheet" href="~/CreateExercise_css/CreateExercise.css">
    <link rel="stylesheet" href="~/mainPage_css/mainPage.css">
</head>
<body>


<div class="container">


    <nav class="leftContent">
        <ul class="leftNavMenu">
            <li class="navButtons"><a asp-controller="Group" asp-action="GroupsOverview"> Мої Групи </a></li>
            <li class="navButtons" id="activePage"><a asp-controller="Exercise" asp-action="CreateExercise"> Створити Завдання </a></li>
            <li class="navButtons"><a href="#" target="_blank"> Тести </a></li>
            <li class="navButtons"><a asp-controller="LeaderBoard" asp-action="Leaderboard"> Таблиця лідерів </a></li>
        </ul>
    </nav>
    
    <div class="form-container">
        <h2>Create New Exercise</h2>
        <form method="post">
            @Html.AntiForgeryToken()

            <label for="groupName">Виберіть групу</label>
            <select id="groupName" name="groupName">
                @foreach (var group in groups)
                {
                    <option value="@group.GroupName">@group.GroupName</option>
                }
            </select>

            <label for="ExerciseName">Exercise Name</label>
            <input type="text" id="ExerciseName" name="ExerciseName" required>

            <label for="ExerciseDescription">Short Description</label>
            <input type="text" id="ExerciseDescription" name="ExerciseDescription" required>

            <label for="ExererciseDifficulty">Requirements</label>
            <textarea id="ExererciseDifficulty" name="ExererciseDifficulty" rows="6" required></textarea>

            <label for="ExerciseDifficulty">Difficulty</label>
            <select id="ExerciseDifficulty" name="ExerciseDifficulty">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>

            <label for="MoneyReward">Money Reward</label>
            <input type="number" id="MoneyReward" name="MoneyReward" min="0">

            <label for="StarsReward">Stars Reward</label>
            <input type="number" id="StarsReward" name="StarsReward" min="0">

            <button type="submit">Create Exercise</button>
        </form>

    </div>
</div>
</body>
</html>
