@using Entities
@model Entities.User

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Вправи для групи @ViewBag.GroupName</h1>
@foreach (var exercise in ViewBag.Exercises as List<Exercise>)
{
    
}
</body>
</html>