@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a asp-controller="GoogleOAuth" asp-action="RedirectOnOAuthServer">Authorize</a>
</div>
</body>
</html>