@model Entities.Student
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Create Student";
}

<h2>Створити нового студента</h2>

<form asp-action="Create" asp-controller="Registration" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Username">Ім'я користувача</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Picture">URL зображення</label>
        <input asp-for="Picture" class="form-control" />
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}