@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <a asp-controller="GoogleOAuth" asp-action="RedirectOnOAuthServer" style="font-size: 32px">Зареєструватися</a>
    <a asp-controller="GoogleOAuth" asp-action="RedirectOnOAuthServer" style="font-size: 32px">Увійти</a>
</div>
</body>
</html>