@* @model Entities.Student *@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Entities.RegisterViewModel

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>:: Sing up ::</title>
            <!-- Ini Link CSS -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
            <link href="~/login_css/login_page.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
           
        </head>
        <body>
    
            <div class="container">
                <div class="box-1"></div>
                <div class="box-2"></div>
                <div class="box-3"></div>
                <div class="box-login" style="height: 600px;">
                    <br>
                    <br>
                  
                    <h1 style="text-align: center; font-family: 'Montserrat', sans-serif;">Sing Up</h1>
                    <form method="post" asp-controller="Registration" asp-action="Create">
                        <input asp-for="Name" type="text" placeholder="Username" name="name">
                        <br>
                        <input asp-for="Email" type="email" placeholder="Email" name="email">
                        <br>
                        <br>
                        <input asp-for="Password" type="password" placeholder="Password" name="password">
                        <br>
                        @Html.AntiForgeryToken()
                        <label>
                            <input asp-for="IsTeacher" type="checkbox"/>
                            Login as Teacher
                        </label>
                        <p style="margin-left: 180px; center; font-family: 'Montserrat', sans-serif;">Forgot Password ?</p>
                        @* <a href="main_page.html">Sing Up</a> *@
                        <button type="submit">Sign Up</button>

                        <div class= "login-with">

                            <ul>
                                <li><i class="fa fa-facebook"></i></li>
                                <li><a asp-controller="GoogleOAuth" asp-action="RedirectOnOAuthServer" style="text-decoration: none; color: black;"><i class="fa fa-google"></i></a></li>
                                <li><i class="fa fa-twitter"></i></li>
                            </ul>

                        </div>
                    </form>
                    
                    <p style="text-align: center; font-family: 'Montserrat', sans-serif;"><a asp-controller="Login" asp-action="Login">Login</a></p>
                </div>
            </div>
        </body>
    </html>