@model List<Entities.Student>

<h2>Leaderboard</h2>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount of stars</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Username</td>
                <td>@student.StarsAmount</td>
            </tr>
        }
    </tbody>
</table>