@model List<Entities.Student>

@{
    ViewData["Title"] = "Leader Board";
    Layout = "_Layout";
}


<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/mainPage_css/mainPage.css">
</head>

<body>







<!--Таблиця з лідерами-->
    <h2>Leaderboard</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount of stars</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Username</td>
                    <td>@student.StarsAmount</td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
