@{
    ViewData["Title"] = "Frame Forge";
}


<!DOCTYPE html>
<html>

<head>
    <title>Frame Forge</title>
    <link rel="stylesheet" href="~/style.css">
</head>

<body>
    <!--Хедер-->
    <div class="header">
        <div class="leftText">
            <h1>Frame Forge <img src="~/images/FrameForge.png" width="30px" alt="FrameForge Logo"></h1>
        </div>
        <div class="dropbutton"></div>
        <div class="user-profile">
            <img src="~/images/account.png" alt="icon" class="accountIcon">
            <span class="rightText">Name Surname</span>
        </div>
    </div>

    <!--Навігаційне меню-->
    <div class="container">
        <nav class="leftContent">
            <ul class="leftNavMenu">
                <li class="navButtons"><a href="#" target="_blank"> Карта </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Батл </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Тести </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Задачі </a></li>
            </ul>
        </nav>

        <!--Тестові завданя-->
        <div class="task">
            <ul class="bodyOfTask">
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
