@{
    ViewData["Title"] = "Frame Forge";
}


<!DOCTYPE html>
<html>
<head>
    <title>Frame Forge</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <div class="header">
        <div class="leftText">
            <h1>Frame Forge <img src="~/images/FrameForge.png" width="30px" alt="FrameForge Logo"></h1>
        </div>
    </div>

    <nav class="leftContent">
        <ul class="leftNavMenu">
            <li>Карта</li>
            <li>Батл</li>
            <li>Магазин</li>
            <li>Тести</li>
            <li>Задачі</li>
        </ul>
    </nav>


</body>
</html>
