@model Entities.Student?

@{
    ViewData["Title"] = "Frame Forge";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>

<head>
    <title>Frame Forge</title>
    <link rel="stylesheet" href="~/mainPage_css/mainPage.css">
    <style>
    </style>
</head>

<body>
    <!--Навігаційне меню-->
    <div class="container">
        <nav class="leftContent">
            <ul class="leftNavMenu">
                <li class="navButtons"><a asp-controller="ProgressMap" asp-action="Map"> Карта </a></li>
                <li class="navButtons"><a href="#"> Батл </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Тести </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Таблиця лідерів </a></li>
            </ul>
        </nav>

        <!--Тестові завданя-->
        <div class="task">
            <ul class="bodyOfTask">
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                        <span class="lvlMode easy">Easy</span>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                    <div class="points">
                        <div class="starPoint">
                            <div>StarPoint: +10 <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"></div>
                        </div>
                        <div class="moneyForTask">
                            <div>Money For Task: +250 <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"></div>
                        </div>
                    </div>
                    <div class="buttonTask">
                        <h3>Виконати завдання</h3>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                        <span class="lvlMode easy">Easy</span>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                    <div class="points">
                        <div class="starPoint">
                            <div>StarPoint: +10 <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"></div>
                        </div>
                        <div class="moneyForTask">
                            <div>Money For Task: +250 <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"></div>
                        </div>
                    </div>
                    <div class="buttonTask">
                        <h3>Виконати завдання</h3>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                        <div class="lvlMode medium">Medium</div>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                    <div class="points">
                        <div class="starPoint">
                            <div>StarPoint: +25 <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"></div>
                        </div>
                        <div class="moneyForTask">
                            <div>Money For Task: +500 <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"></div>
                        </div>
                    </div>

                    <div class="buttonTask">
                        <h3>Виконати завдання</h3>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                        <div class="lvlMode medium">Medium</div>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                    <div class="points">
                        <div class="starPoint">
                            <div>StarPoint: +25 <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"></div>
                        </div>
                        <div class="moneyForTask">
                            <div>Money For Task: +500 <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"></div>
                        </div>
                    </div>
                    <div class="buttonTask">
                        <h3>Виконати завдання</h3>
                    </div>
                </li>
                <li class="taskCard">
                    <div class="TaskHeader">
                        <h2>Відредагуйте код</h2>
                        <div class="lvlMode hard">Hard</div>
                    </div>
                    <div class="taskDiscription">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic vel quam voluptates, nam
                            possimus eaque a ipsam eveniet, unde minima quos deserunt est, ut velit magni culpa quae
                            voluptatibus sunt.</p>
                    </div>
                    <div class="points">
                        <div class="starPoint">
                            <div>StarPoint: +50 <img src="~/images/icons_mainPage/star.png" alt="star" class="imgStar"></div>
                        </div>
                        <div class="moneyForTask">
                            <div>Money For Task: +1000 <img src="~/images/icons_mainPage/coin.png" alt="coin" class="imgCoin"></div>
                        </div>
                    </div>
                    <div class="buttonTask">
                        <h3>Виконати завдання</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
