<!DOCTYPE html>
<html>
<head>
    <title>Frame Forge</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <div class="header">
        <div class="leftText">
            <h1>Frame Forge <img src="~/images/FrameForge.png" width="30px" alt="FrameForge Logo"></h1>
        </div>
    </div>
</body>
</html>
