@model Entities.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1 style="font-size: 32px">Hello: @Model.Username</h1>
    <h2 style="font-size: 32px">Hello: @Model.Email</h2>
</div>
</body>
</html>