
@{
    ViewData["Title"] = "Algorithms Page";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Algorithms Page</title>
    <link rel="stylesheet" href="algorithmPage_css/algorithmPage.css">
    <link rel="stylesheet" href="mapPage_css/mapPage.css">
</head>
<body>
<div>

    <div class="container">
        <nav class="leftContent">
            <ul class="leftNavMenu">
                <li class="navButtons"><a asp-controller="ProgressMap" asp-action="Map"> Карта </a></li>
                <li class="navButtons"><a href="#"> Батл </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
                <li class="navButtons" id="activebtnA"><a asp-controller="Algorithms" asp-action="AlgorithmsOverview"> Алгоритми </a></li>
                <li class="navButtons"><a asp-controller="LeaderBoard" asp-action="Leaderboard"> Таблиця лідерів </a></li>
            </ul>
        </nav>
        <h1>Hello Slavko</h1>


        <div class="Algorithm">
            <div class="bodyOfAlgorithm">
                <div class="AlgorithmCard">
                    <div class="AlgorithmHeader">
                        <h2>Алгоритм Безьє</h2>
                    </div>
                    <div class="bezierCurveIcon">
                        <img src="/images/icons_algorithmsPage/bezierCurve_icon.png" alt="BezierCurve" style="width: 300px" class="BezierCurveIcon">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>