
@{
    ViewData["Title"] = "Algorithms Page";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Algorithms Page</title>
    <link rel="stylesheet" href="algorithmPage_css/algorithmPage.css">
    <link rel="stylesheet" href="mapPage_css/mapPage.css">
</head>
<body>
<div>

    <div class="container">
        <nav class="leftContent">
            <ul class="leftNavMenu">
                <li class="navButtons"><a asp-controller="ProgressMap" asp-action="Map"> Карта </a></li>
                <li class="navButtons"><a href="#"> Батл </a></li>
                <li class="navButtons"><a href="#" target="_blank"> Магазин </a></li>
                <li class="navButtons" id="activebtnA"><a asp-controller="Algorithms" asp-action="AlgorithmsOverview"> Алгоритми </a></li>
                <li class="navButtons"><a asp-controller="LeaderBoard" asp-action="Leaderboard"> Таблиця лідерів </a></li>
            </ul>
        </nav>
        <h1>Hello Slavko</h1>


        <div class="AlgorithmCard">
            <h1>Алгоритм Безьє</h1>
        </div>

    </div>
</div>
</body>
</html>