@model List<Entities.Algorithm>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var algorithms in @Model)
      {
          <h1><a asp-action="TestAlgorithm" style="text-decoration: none" asp-route-algorithmName="@algorithms.AlgorithmName">@algorithms.AlgorithmName</a></h1>
      }
</div>
</body>
</html>