<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>:: Login ::</title>
            <!-- Ini Link CSS -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
            <link href="~/login_page.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            
           
        </head>
        <body>
            <div class="container">
                <div class="box-1"></div>
                <div class="box-2"></div>
                <div class="box-3"></div>
                <div class="box-login">
                    <br>
                    <br>
                  
         <h1 style="text-align: center; font-family: 'Montserrat', sans-serif;">LOGIN</h1>
     <input type="text" placeholder="Username"          name="username">
                    <br>
                    <input type="password" placeholder="Password" name="password">
                    <br>
          <p style="margin-left: 180px; center; font-family: 'Montserrat', sans-serif;">Forgot Password ?</p>
                  
                    <button type="button"><a href="main_page.html">Login</button>
                  
                    <div class= "login-with">
                      
                        <ul>
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-google"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                        </ul>
                      
                    </div>
        <p style="text-align: center; font-family: 'Montserrat', sans-serif;"><a href="sing_up_page.html">Sign Up</p>
                </div>
            </div>
        </body>
    </html>