a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 24px;
}

/* Styling for completed levels */
a.completed,
a.completed:visited,
a.completed:hover,
a.completed:active {
    color: green !important;
    font-weight: bold;
}

/* Styling for in-progress levels */
a.in-progress,
a.in-progress:visited,
a.in-progress:hover,
a.in-progress:active {
    color: lightblue !important;
}

/* Styling for uncompleted (not completed or in progress) levels */
a:not(.completed):not(.in-progress) {
    color: lightgray !important;
}



/*стилі для островів*/
.islandFirstLvl{
    width: 300px;
    margin-left: 500px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-top: 50px;
    transition: transform 0.3s ease;
}

/*тут при збільшуванні острова додається тінь*/
/*.islandFirstLvl:hover {*/
/*    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.4));*/
/*    transform: scale(1.1);*/
/*}*/

.islandLocation {
    position: absolute;
    top: 35%;
    left: 80%; 
    z-index: 2; 
    width: 50px; 
    height: auto; 
    transition: transform 0.3s ease;
}

/*.islandLocation:hover {*/
/*    transform: scale(1.1);*/
/*}*/

/*тут на вибір, або точка розширяється з островом або вони оремо розширяються*/
.allIsland:hover{
    transform: scale(1.1);
}

.allIsland {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}


