a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 24px;
}

/* Styling for completed levels */
a.completed,
a.completed:visited,
a.completed:hover,
a.completed:active {
    color: green !important;
    font-weight: bold;
}

/* Styling for in-progress levels */
a.in-progress,
a.in-progress:visited,
a.in-progress:hover,
a.in-progress:active {
    color: lightblue !important;
}

/* Styling for uncompleted (not completed or in progress) levels */
a:not(.completed):not(.in-progress) {
    color: lightgray !important;
}



/*стилі для островів*/
.islandFirstLvl{
    width: 300px;
    margin-left: 500px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-top: 50px;
    transition: transform 0.3s ease;
}

.islandFirstLvl:hover {
    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.4));
    transform: scale(1.1);
}

